<h1 style= "font-family:Arial; font-size:30px"> Start building stores today! </h1>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="required field" style= "font-family:Arial; font-size:16px">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div class="required field" style= "font-family:Arial; font-size:16px">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field" style= "font-family:Arial; font-size:16px">
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>
  </div>

  <div class="required field" style= "font-family:Arial; font-size:16px">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="required field" style= "font-family:Arial; font-size:16px">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <% if can? :manage, User %>
    <div class="field">
      <%= f.label :role %>
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
    </div>
  <% end %>

  <div class="actions" style= "font-family:Arial; font-size:16px"><%= f.submit "Sign Up!" %></div>

<% end %>

<%= link_to "Already a user? Log in here!", login_path %>
