<!DOCTYPE html>
<html>
  <head>
    <br>
    <title> Your User Profile</title>
  </head>
  <body>
    <%= image_tag "profile.png" %>
    <br>
    <table border="1" cellpadding="10" style="font-size:30px">
      <tr align="left" style="background-color:#61c84c; color:white">
        <th>Name</th>
        <th>Email</th>
        <th>Info</th>
        <th>View</th>
      </tr>

      <tr style="background-color:#eeedc8">
        <td><%= current_user.full_name %></td>
        <td><%= current_user.email %></td>
        <td><%= link_to "Edit", edit_user_path(current_user.id) %></td>
        <td><%= link_to "Orders", user_profile_path %></td>
      </tr>
    </table>

    <br>
    <br>
    <%= image_tag "mystore.png" %>
    <br>

    <table border="1" cellpadding="10" style="font-size:30px">
      <tr align="left" style="background-color:#eeedc8; color:white">
        <% if current_user.store_id != nil %>
            <% store_path = Store.find(current_user.store_id).path%>
            <th><%= link_to "View My Store", store_home_path(store_path) %></th>
            <th><%= link_to "Edit My Store",
              edit_store_path(current_user.store_id) %></th>
            <th><%= link_to "Administer My Store", store_index_path(store_path) %> </th>
        <% else %>
           <th><%= link_to "You don't have a store. Click to create a store", new_store_path %></th>
        <% end %>
      </tr>
    </table>
  </body>
</html>
