<h1><%= @title %></h1>

<table class="white_table table table-striped">
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th>Status</th>
    <th>Description</th>
    <th></th>
  </tr>

<% store_list.each do |store| %>
  <tr>
    <td><%= link_to "#{store.name}", store_home_path(store.path) %> </td>
    <td><%= link_to "#{store.path}", store_home_path(store.path) %> </td>
    <td><%= store.status %> </td>
    <td><%= store.description.to_s[0..31] %></td>
    <td>
      <%= link_to 'Approve', change_status_on_admin_store_path(:id => store.id, :status => 'live'), :class => 'btn btn-big', :method => "put" if store.status == "pending" %>
      <%= link_to 'Decline', change_status_on_admin_store_path(:id => store.id, :status => 'declined'), :class => 'btn btn-big', :method => "put" if store.status == "pending" %>
      <%= link_to 'Disable', change_status_on_admin_store_path(:id => store.id, :status => 'disabled'), :class => 'btn btn-big', :method => "put" if store.status == "live" %>
      <%= link_to 'Enable', change_status_on_admin_store_path(:id => store.id, :status => 'live'), :class => 'btn btn-big', :method => "put" if store.status == "disabled" %>
      <%= link_to "Administer", admin_administer_path(:store_id => store.id, :path => store.path), :class => "btn btn-big", :method => "put" if store.status == "live" %>
    </td>
  </tr>
<% end %>
</table>

