<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h2> If you are currently not a user, please enter your email </h2>

  <div class="field">
    <%= label_tag :user_email, "Email" %>
    <%= text_field_tag :user_email %>
  </div>


  <!--Shipping -->
  <div>
    <h4>Shipping Address</h4>
    <div class="field">
      <%= label_tag :shipping_street_name, "Street Name" %>
      <%= text_field_tag :shipping_street_name %>
    </div>
    <div class="field">
      <%= label_tag :shipping_city, "City" %>
      <%= text_field_tag :shipping_city %>
    </div>
    <div class="field">
      <%= label_tag :shipping_state, "State" %>
      <%= select_tag :shipping_state, options_for_select(us_states) %>
    </div>
    <div class="field">
      <%= label_tag :shipping_zipcode, "Zipcode" %>
      <%= text_field_tag :shipping_zipcode %>
    </div>
  </div>

  <!--Billing -->
  <div>
    <h4>Billing Address</h4>
    <div class="field">
      <%= label_tag :billing_street_name, "Street Name" %>
      <%= text_field_tag :billing_street_name %>
    </div>
    <div class="field">
      <%= label_tag :billing_city, "City" %>
      <%= text_field_tag :billing_city %>
    </div>
    <div class="field">
      <%= label_tag :billing_state, "State" %>
      <%= select_tag :billing_state, options_for_select(us_states) %>
    </div>
    <div class="field">
      <%= label_tag :billing_zipcode, "Zipcode" %>
      <%= text_field_tag :billing_zipcode %>
    </div>
  </div>

  <div>
    <h4>Payment Info</h4>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>


    <div class="field">
      <%= f.hidden_field :status, value: "paid" %>
    </div>
    <div class="actions">
      <%= f.submit "Submit Order", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
