<h2>Hello! Thank you for visiting our page. See below for your order review.</h2>

<br></br>
<br></br>

<table class="table">
  <tr>
    <th>Order ID</th>
    <th>Order Status</th>
    <th>Total</th>
    <th></th>
    <th></th>
      <tr>
        <td> <%= @order.id %></td>
        <td> <%= @order.status %></td>
        <td> <%= @order.total_cost %></td>
      </tr>
</table>

<br></br>
<br></br>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Product Id</th>
    <th>Subtotal</th>
  </tr>
  <% @order.line_items.each do |line_item| %>
    <tr>
      <td>
        <% name = Product.find_by_id(line_item.product_id).name %>
        <%= link_to name, product_path(line_item.product_id) %>
        </td>
      <td><%= amount_in_dollars(line_item.price) %></td>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.product_id %></td>
      <td>
        <%= amount_in_dollars(line_item.quantity * (line_item.price || 0)) %>
      </td>
    </tr>
  <% end %>
</table> 