<center>
<h2 style= "color:white; background-color:orange;">Thank you for visiting our page. Feel free to review your order below!</h2>
</center>

<br>

<table border="1" cellpadding="10" style="font-size:16px">
      <tr align="left" style="background-color:#61c84c; color:white">
        <th>Order Id</th>
        <th>Order Status</th>
        <th>Total</th>
      </tr>

      <tr style="background-color:#eeedc8">
        <td><%= @order.id %></td>
        <td><%= @order.status.capitalize %></td>
        <td><%= amount_in_dollars(@order.total_cost) %></td>
      </tr>
    </table>

    <br>

<table class="table">
  <tr align="left" style="background-color:#61c84c; color:white">
    <th>Product Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Product Id</th>
    <th>Subtotal</th>
  </tr>
  <% @order.line_items.each do |line_item| %>
    <tr style="background-color:#eeedc8">
      <td>
        <% name = Product.find_by_id(line_item.product_id).name %>
        <%= link_to name, product_path(line_item.product_id) %>
        </td>
      <td><%= amount_in_dollars(line_item.price) %></td>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.product_id %></td>
      <td>
        <%= amount_in_dollars(line_item.quantity * (line_item.price || 0)) %>
      </td>
    </tr>
  <% end %>
</table> 
