<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Imagetoolbar" content="no">
<%= stylesheet_link_tag "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
  <link href='http://fonts.googleapis.com/css?family=Miniver' rel='stylesheet' type='text/css'>


  <title>The Market Collective</title>
</head>
  <body>
    <!-- Flash -->
          <div class="row">
              <%= bootstrap_flash %>
          </div>
              <%= yield %>
        </div>
     </div>
     <div id="sse2">
        <div id="sses2">
          <h5>The Market Collective</h5
          <ul>
            <li><a href="/store_listing">View All Stores</a></li>
      <% if current_user %>
        <% if @admin %>
          <li><%= link_to "(Admin)", profile_path %></li>
        <% end %>
          <li><%= link_to "Log out", logout_path %></li>
          <li><%= link_to "Hi, #{current_user.full_name}!", profile_path %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_path %> </li>
          <li><%= link_to "Log in", login_path %></li>.
        <% end %>
          </ul>
        </div>
      </div>
     <center>
      <%= image_tag "mainbanner.jpg" %>
    </center>
  </body>
</html>

